body {
  background-image: url(img/photo-1428908728789-d2de25dbd4e2.avif);
  background-size: 100%;
}
input[type="text"] {
  border: 1px solid rgb(28, 88, 116);
  box-shadow: 3px 3px 5px rgba(122, 165, 179, 0.466);
  padding: 2px;
}

input[type="text"]::placeholder {
  color: rgb(28, 88, 116);
}

input[type="Submit"],
button {
  color: #132238ce;
  border: 1px solid rgb(28, 88, 116);
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(122, 165, 179, 0.466);
  transition: all 200ms ease-in-out;
}

input[type="Submit"]:hover,
button:hover {
  background-color: transparent;
  font-weight: 700;
}

.container {
  background: linear-gradient(
    to Top,
    rgba(148, 201, 224, 0.42) 15%,
    rgba(255, 255, 255, 0.628) 65%
  );
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  margin: 50px auto;
  padding: 20px 20px 0;
  max-width: 600px;
}

.cities {
  color: rgb(28, 88, 116);
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  flex-direction: row;
  max-width: 200px;
}
.city:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search-button {
  background-color: #f3ecc8;
  padding: 2px 12px;
}

.current-button {
  background-color: #acdbee8d;
  padding: 2px 10px;
}
.current-info {
  padding: 10px 5px;
}
.current-city {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
}
.current-day-time {
  font-size: 16px;
}
.current-day {
  font-weight: 700;
}
.overcast {
  font-size: 16px;
  white-space: nowrap;
}
.overcast:first-letter {
  text-transform: capitalize;
}
.current-city,
.current-day-time,
.overcast {
  text-align: left;
  color: #364e68;
}

#current-weather-icon {
  margin-left: 24px;
  margin-top: 10px;
}

#current-temperature {
  color: #364e68;
  font-size: 50px;
  text-align: right;
}

#current-temperature {
  padding-left: 10px;
}

.units {
  font-size: 20px;
  color: #364e68;
  position: relative;
  bottom: 24px;
  padding: 2px;
}

#celsius,
#fahrenheit {
  transition: all 300ms ease-in-out;
}

.active {
  color: #299ac7;
}

.active:hover {
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
}

.current-descriptions {
  color: #364e68;
  font-size: 15px;
  text-align: left;
  padding: 0;
  padding-top: 16px;
  white-space: nowrap;
}
.col-sm {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.427);
  box-shadow: 3px 3px 4px rgba(122, 165, 179, 0.575);
  color: #364e68;
  font-size: 14px;
  margin: 0 6px;
  max-width: 116px;
  padding: 16px 0 0;
  text-align: center;
}

.weekday {
  font-weight: 600;
  line-height: 0.2;
}

.weekday-icon {
  display: block;
  margin: 0 auto;
}

.weekday-temperature {
  line-height: 30px;
}

.max-temp {
  font-weight: 600;
  padding: 2px;
}

.min-temp {
  opacity: 0.7;
  padding: 2px;
}

.footer {
  color: #364e68;
  display: block;
  font-size: 12px;
  margin-top: 6%;
  text-align: center;
}
.github-link {
  color: #364e68;
}
.github-link:hover {
  font-weight: 600;
  font-size: 13px;
}

@media (max-width: 600px) {
  .container {
    background: rgba(245, 252, 255, 0.769);
    margin: 0 auto;
  }
  .cities {
    font-size: 18px;
    justify-content: space-evenly;
    max-width: 100%;
  }
  input[type="text"] {
    font-size: 20px;
    text-align: center;
    width: 94%;
  }

  .search-buttons {
    margin: 16px;
    justify-content: center;
  }

  .search-form,
  .current-city,
  .current-day-time,
  .overcast,
  .current-descriptions,
  #current-temperature,
  #current-weather-icon {
    text-align: center;
  }
  #current-weather-icon {
    margin-left: 20%;
  }

  .current-descriptions {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .footer {
    background: rgba(245, 252, 255, 0.769);
    padding-top: 6%;
    padding-bottom: 20%;
    margin: 0 auto;
  }
}
